html {
  margin-top: 0 !important; }

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1;
    display: block; }
  to {
    opacity: 0;
    display: none; } }
.fade-in {
  display: block;
  opacity: 1;
  animation: fadeIn 0.3s; }

.fade-out {
  display: none;
  opacity: 0;
  animation: fadeOut 0.5s; }

@media all and (max-width: 992px) {
  .brand-logo img {
    max-height: 70px; } }

.pageContainer {
  animation: slideIn 0.5s;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background: #fff; }

.parallax-container {
  height: 380px; }
  @media all and (max-width: 768px) {
    .parallax-container {
      height: 380px; } }

.example-enter {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.example-enter.example-enter-active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }

.example-leave {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); }

.example-leave.example-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }

.animatedContent {
  animation: fadeIn 0.5s; }

@media all and (min-width: 768px) {
  .two-columns {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 40px;
    /* Firefox */
    column-gap: 40px; } }

nav {
  height: 40px; }
  @media all and (max-width: 992px) {
    nav {
      height: 70px; } }
  nav ul li {
    height: 40px; }
    nav ul li a {
      height: 40px;
      color: black;
      line-height: 40px;
      display: block;
      padding: 0 5px; }
      nav ul li a:hover {
        background: #35bdef;
        color: #fff; }
      @media all and (min-width: 1290px) {
        nav ul li a {
          padding: 0 10px; } }
      nav ul li a i {
        line-height: inherit !important;
        height: 30px !important;
        width: 30px !important;
        text-align: center;
        border: 1px solid #000;
        border-radius: 50%;
        margin-top: 5px; }
        nav ul li a i.fa {
          font-size: 1em; }
          nav ul li a i.fa:hover {
            background-color: #fb941b;
            color: #fff; }
        nav ul li a i::before {
          position: relative;
          top: -5px; }
  nav .nav-wrapper a {
    height: 40px;
    line-height: 40px; }
    nav .nav-wrapper a img {
      height: 170px;
      -webkit-filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5));
      margin-top: 40px; }
      @media all and (max-width: 992px) {
        nav .nav-wrapper a img {
          -webkit-filter: none;
          margin-top: initial;
          height: 100px;
          max-height: 70px; } }
    nav .nav-wrapper a i {
      height: 40px;
      line-height: 40px;
      font-size: 2em; }
      @media all and (max-width: 992px) {
        nav .nav-wrapper a i {
          height: 70px;
          line-height: 70px; } }

.feed {
  min-height: 200px;
  background: gray;
  color: #fff; }

iframe {
  height: 320px; }

.iframe-rwd {
  position: relative;
  padding-bottom: 290px;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.iframe-row {
  display: flex;
  align-items: flex-start; }
  .iframe-row .iframe-container {
    display: flex;
    flex: 1;
    align-content: stretch;
    flex-basis: 300px; }
    .iframe-row .iframe-container iframe {
      width: 100% !important;
      height: 300px !important; }

footer.page-footer {
  margin-top: 0; }
  footer.page-footer h5 {
    font-size: 1em; }

.signup-form {
  height: 340px;
  padding-top: 20px !important;
  background: #fb941b;
  margin-top: 25px;
  -webkit-transition: 0.2s transform;
  transition: 0.2s transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  padding: 10px; }
  @media all and (max-width: 768px) {
    .signup-form {
      margin-top: 25px; } }
  .signup-form h3 {
    font-size: 1em;
    color: #fff;
    background: #a5cd39;
    padding: 10px;
    display: block;
    float: left;
    position: relative;
    top: -55px;
    left: -20px;
    margin-bottom: -40px; }
  .signup-form label.warning {
    line-height: 1.2em;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 0; }
  .signup-form label {
    color: #fff;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    opacity: 1;
    margin-left: -10px; }
    .signup-form label.active {
      color: rgba(255, 255, 255, 0.5) !important; }
  .signup-form input[type="text"], .signup-form input[type="email"], .signup-form input[type="number"] {
    margin: 0;
    border-bottom-color: rgba(255, 255, 255, 0.5);
    color: #fff !important; }
    .signup-form input[type="text"]:focus, .signup-form input[type="email"]:focus, .signup-form input[type="number"]:focus {
      border-bottom-color: #fff;
      box-shadow: 0 1px 0 0 #fff; }
  .signup-form input[type="submit"] {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background-color: #a5cd39;
    float: right;
    padding: 15px;
    height: 30px;
    line-height: 0;
    border-radius: 0;
    position: absolute;
    right: 10px;
    bottom: 10px; }
  .signup-form.submitting {
    color: #999999 !important;
    background-color: #a5cd39; }
  .signup-form.done {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); }
    .signup-form.done input[type="submit"] {
      display: none; }

.signup-form-back {
  height: 340px;
  background: #35bdef;
  margin-top: 15px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition: 0.2s transform;
  transition: 0.2s transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  top: -380px;
  color: #fff;
  text-align: center;
  padding: 10px; }
  .signup-form-back h3 {
    font-size: 2em; }
  .signup-form-back button {
    -webkit-backface-visibility: inherit;
    backface-visibility: inherit; }
  .signup-form-back.done {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }

.owp-green {
  color: #a5cd39;
  font-weight: bold; }

.owp-orange {
  color: #fb941b;
  font-weight: bold; }

.owp-blue {
  color: #35bdef;
  font-weight: bold; }

.page-title {
  width: 100%;
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #000; }

.page-footer ul li {
  float: left;
  margin-right: 20px; }
  .page-footer ul li a {
    cursor: pointer; }

.bot-filter {
  display: none; }

.contact-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: -20px; }

.accord-header {
  background: #fb941b;
  width: 100%;
  display: block;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.5s all; }

h5.accord-header-text {
  padding: 10px 0 0px 10px;
  font-size: 1.2em; }

.accord-text {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  overflow: hidden;
  background: #fff;
  font-size: 0.8em; }
  .accord-text p {
    padding: 0 20px; }

.accord-header + .accord-text {
  max-height: 0px;
  -webkit-transition: 0.75s all;
  transition: 0.75s all;
  color: #000;
  font-size: 1em; }

.accord-header:checked + .accord-text {
  max-height: 500px;
  overflow-y: auto; }
  @media all and (max-width: 768px) {
    .accord-header:checked + .accord-text {
      max-height: 1500px; } }

.btn-green {
  background-color: #a5cd39; }
  .btn-green:hover {
    background-color: #35bdef; }

.color-orange {
  color: #fb941b; }

.float-right {
  float: right; }

ul.orange-bullets {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.orange-bullets li {
    padding-left: 1em;
    text-indent: -.7em; }
    ul.orange-bullets li:before {
      content: "\2022 ";
      color: #fb941b;
      margin-right: 5px; }

@media all and (max-width: 992px) {
  .row .col {
    margin-bottom: 20px; } }

@media all and (min-width: 769px) {
  .border-right {
    border-right: 1px solid; } }

.blue-copyright {
  background-color: #35bdef !important;
  color: #fff; }

.center-list ul {
  text-align: center; }
  .center-list ul li {
    text-align: center;
    margin-left: -15px; }

@media all and (min-width: 992px) {
  a.brand-logo {
    width: 0; } }

/*# sourceMappingURL=style.css.map */
